@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
a{
	text-decoration: none;
}
/* 몸 */
body{
	width: 1920px;
	/* background-image: url("../css/hd-wallpaper.jpg");
  background-size: cover; */
}

/* 전체선택 체크박스 */
.all_check_input_div{

    display: flex;
    margin-left: 86px;
    margin-top: -20px;
    

}
/* 전체선택 체크박스 텍스트*/
.all_check_span{
	color:#00ffff;
}


/* 장바구니텍스트 */
.neon_effect .jangText:first-child{
	    margin-top: -33px;
    margin-left: 256px;
    color: #fff;
    font-family: 'Song Myung', serif;
    font-weight: bold;
    font-size: 2em;
   animation: neon3 1.5s ease-in-out infinite alternate; 
}
/* 선택체크박스 */
.choiceBox{
	    display: flex;
    margin-left: 83px;
    margin-top: 22px;
}

/* 상품이름문구  */
.shipNameText{
    color: white;
    display: flex;
    margin-left: 220px;
    margin-top: 46px;
}
/* 상풍가격 */
.priceText{    color: white;
    display: flex;
    margin-left: 584px;
    margin-top: -27px;
}
/* 수량박스 div태그 */
.countBox{
    display: flex;
    margin-left: 789px;
    margin-top: -23px;
}
/* 수량박스 인풋 */
#countInput{
	display: flex;
    background-color: transparent;
    border-color: #00ffff;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #00ffff;
    padding-left: 16px;
    margin-left: 78px;
    margin-top: -2px;
	
	
}


/* 플러스 버튼 시작 */
.upBtn {
	display: flex;
    margin-left: 77px;
    margin-top: 4px;
    padding-top: 0px;
    font-family: sans-serif;
    width: 53px;
    height: 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    background: url(https://api.thumbr.io/whitenoise-361x370.png?background=00000000&noise=000000f&density=50&opacity=40) repeat top left/1.25em, url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png) no-repeat center/100%;
    /* font-family: "Space Mono", monospace; */
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.025em currentColor;
    text-shadow: 0.05em 0.075em 0.075em rgb(255 255 255 / 80%), 0.05em 0.075em 1em rgb(255 255 255 / 50%), -0.04em -0.04em 0.05em rgb(0 0 0 / 50%);
    box-shadow: inset 0.1em 0.1em 0.075em rgb(255 255 255 / 67%), inset -0.1em -0.1em 0.2em rgb(0 0 0 / 25%), inset 0 0 0.4em rgb(255 255 255 / 25%);
    transition: 0.5s;
    will-change: filter;
}

.upBtn:before {
	   text-decoration:none;
  content: "";
  z-index: -1;
  mix-blend-mode: color;
  transition: 0.5s;
  position: absolute;
}
.upBtn:after {
	   text-decoration:none;
  content: "";
  position: absolute;
  top: -100%;
  bottom: -100%;
  width: 200%;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), transparent 20%, transparent 30%, white, rgba(255, 255, 255, 0.75), transparent 70%, transparent, white, rgba(255, 255, 255, 0.75), transparent);
  mix-blend-mode: overlay;
  opacity: 0.9;
  transform: translate3d(-50%, 0, 0);
  transition: 0.4s;
}
.upBtn:hover:after, .upBtn:focus:after {

  transform: translate3d(0%, 0, 0) scale3d(1.5, 1.2, 1);
}
.upText{
	          margin-top: 0px;
    margin-left: 19px;
}
/* 플러스 버튼 끝 */



/*마이너스 버튼시작 */
.downBtn {
    display:flex;
	padding-top: 0px;
    font-family: sans-serif;
    width: 53px;
    margin-left: 130px;
    margin-top: -23px;
    height: 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    background: url(https://api.thumbr.io/whitenoise-361x370.png?background=00000000&noise=000000f&density=50&opacity=40) repeat top left/1.25em, url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png) no-repeat center/100%;
    /* font-family: "Space Mono", monospace; */
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.025em currentColor;
    text-shadow: 0.05em 0.075em 0.075em rgb(255 255 255 / 80%), 0.05em 0.075em 1em rgb(255 255 255 / 50%), -0.04em -0.04em 0.05em rgb(0 0 0 / 50%);
    box-shadow: inset 0.1em 0.1em 0.075em rgb(255 255 255 / 67%), inset -0.1em -0.1em 0.2em rgb(0 0 0 / 25%), inset 0 0 0.4em rgb(255 255 255 / 25%);
    transition: 0.5s;
    will-change: filter;
}

.downBtn:before {
	   text-decoration:none;
  content: "";
  z-index: -1;
  mix-blend-mode: color;
  transition: 0.5s;
  position: absolute;
}
.downBtn:after {
	   text-decoration:none;
  content: "";
  position: absolute;
  top: -100%;
  bottom: -100%;
  width: 200%;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), transparent 20%, transparent 30%, white, rgba(255, 255, 255, 0.75), transparent 70%, transparent, white, rgba(255, 255, 255, 0.75), transparent);
  mix-blend-mode: overlay;
  opacity: 0.9;
  transform: translate3d(-50%, 0, 0);
  transition: 0.4s;
}
.downBtn:hover:after, .downBtn:focus:after {

  transform: translate3d(0%, 0, 0) scale3d(1.5, 1.2, 1);
}
.downText{
	    margin-top: 0px;
    margin-left: 20px;
}
/*마이너스 버튼끝 */

/*변경 버튼 시작 */
.changeBtn {

	padding-top: 0px;
    font-family: sans-serif;
        width: 92px;
    margin-left: -91px;
    margin-top: 22px;
    height: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    background: url(https://api.thumbr.io/whitenoise-361x370.png?background=00000000&noise=000000f&density=50&opacity=40) repeat top left/1.25em, url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png) no-repeat center/100%;
    /* font-family: "Space Mono", monospace; */
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.025em currentColor;
    text-shadow: 0.05em 0.075em 0.075em rgb(255 255 255 / 80%), 0.05em 0.075em 1em rgb(255 255 255 / 50%), -0.04em -0.04em 0.05em rgb(0 0 0 / 50%);
    box-shadow: inset 0.1em 0.1em 0.075em rgb(255 255 255 / 67%), inset -0.1em -0.1em 0.2em rgb(0 0 0 / 25%), inset 0 0 0.4em rgb(255 255 255 / 25%);
    transition: 0.5s;
    will-change: filter;
}

.changeBtn:before {
	   text-decoration:none;
  content: "";
  z-index: -1;
  mix-blend-mode: color;
  transition: 0.5s;
  position: absolute;
}
.changeBtn:after {
	   text-decoration:none;
  content: "";
  position: absolute;
  top: -100%;
  bottom: -100%;
  width: 200%;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), transparent 20%, transparent 30%, white, rgba(255, 255, 255, 0.75), transparent 70%, transparent, white, rgba(255, 255, 255, 0.75), transparent);
  mix-blend-mode: overlay;
  opacity: 0.9;
  transform: translate3d(-50%, 0, 0);
  transition: 0.4s;
}
.changeBtn:hover:after, .changeBtn:focus:after {

  transform: translate3d(0%, 0, 0) scale3d(1.5, 1.2, 1);
}
.changeText{
	     margin-top: -3px;
    margin-left: 1px;
}
/*변경 버튼끝 */





/*삭제  버튼 시작 */
.deleteBtn {
    padding-top: 0px;
    font-family: sans-serif;
    width: 136px;
    margin-left: 192px;
    margin-top: 22px;
    height: 46px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    background: url(https://api.thumbr.io/whitenoise-361x370.png?background=00000000&noise=000000f&density=50&opacity=40) repeat top left/1.25em, url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png) no-repeat center/100%;
    /* font-family: "Space Mono", monospace; */
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.025em currentColor;
    text-shadow: 0.05em 0.075em 0.075em rgb(255 255 255 / 80%), 0.05em 0.075em 1em rgb(255 255 255 / 50%), -0.04em -0.04em 0.05em rgb(0 0 0 / 50%);
    box-shadow: inset 0.1em 0.1em 0.075em rgb(255 255 255 / 67%), inset -0.1em -0.1em 0.2em rgb(0 0 0 / 25%), inset 0 0 0.4em rgb(255 255 255 / 25%);
    transition: 0.5s;
    will-change: filter;
}


.deleteBtn:before {
	   text-decoration:none;
  content: "";
  z-index: -1;
  mix-blend-mode: color;
  transition: 0.5s;
  position: absolute;
}
.deleteBtn:after {
	   text-decoration:none;
  content: "";
  position: absolute;
  top: -100%;
  bottom: -100%;
  width: 200%;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), transparent 20%, transparent 30%, white, rgba(255, 255, 255, 0.75), transparent 70%, transparent, white, rgba(255, 255, 255, 0.75), transparent);
  mix-blend-mode: overlay;
  opacity: 0.9;
  transform: translate3d(-50%, 0, 0);
  transition: 0.4s;
}
.deleteBtn:hover:after, .deleteBtn:focus:after {

  transform: translate3d(0%, 0, 0) scale3d(1.5, 1.2, 1);
}
.deleteText{
	  margin-top: -1px;
    margin-left: 1px;
}
/*삭제 버튼끝 */



/*결제  버튼 시작 */
.callShipBtn {
    padding-top: 24px;
    padding-left: 123px;
    display: flex;
    font-family: sans-serif;
    width: 300px;
    margin-left: 820px;
    margin-top: -101px;
    height: 71px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    background: url(https://api.thumbr.io/whitenoise-361x370.png?background=00000000&noise=000000f&density=50&opacity=40) repeat top left/1.25em, url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png) no-repeat center/100%;
    /* font-family: "Space Mono", monospace; */
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.025em currentColor;
    text-shadow: 0.05em 0.075em 0.075em rgb(255 255 255 / 80%), 0.05em 0.075em 1em rgb(255 255 255 / 50%), -0.04em -0.04em 0.05em rgb(0 0 0 / 50%);
    box-shadow: inset 0.1em 0.1em 0.075em rgb(255 255 255 / 67%), inset -0.1em -0.1em 0.2em rgb(0 0 0 / 25%), inset 0 0 0.4em rgb(255 255 255 / 25%);
    transition: 0.5s;
    will-change: filter;
}


.callShipBtn:before {
	   text-decoration:none;
  content: "";
  z-index: -1;
  mix-blend-mode: color;
  transition: 0.5s;
  position: absolute;
}
.callShipBtn:after {
	   text-decoration:none;
  content: "";
  position: absolute;
  top: -100%;
  bottom: -100%;
  width: 200%;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), transparent 20%, transparent 30%, white, rgba(255, 255, 255, 0.75), transparent 70%, transparent, white, rgba(255, 255, 255, 0.75), transparent);
  mix-blend-mode: overlay;
  opacity: 0.9;
  transform: translate3d(-50%, 0, 0);
  transition: 0.4s;
}
.callShipBtn:hover:after, .callShipBtn:focus:after {

  transform: translate3d(0%, 0, 0) scale3d(1.5, 1.2, 1);
}
.deleteText{
	  margin-top: -1px;
    margin-left: 1px;
}
/*결제 버튼끝 */








/*총 결제대형박스 */
.content_total_section{
   margin-left: 722px;
    margin-top: 100px;
    width: 500px;
height: 361px;
    border: 3px solid #00ffff;
    border-radius: 30px;	
}
/* 총결제 첵스트 */
.AllPriceText{
          margin-left: 209px;
    margin-top: 42px;
    color: #00ffff;
    display: flex;
}
/*배송비 첵스트 */
.AllDeliText{
	        margin-left: 203px;
    margin-top: 4px;
    color: #00ffff;
    display: flex;
}

.AllCountText{
    margin-left: 169px;
    margin-top: 10px;
    display: flex;
    color: #00ffff;
}
/* 총결제에상금 */
.AllWillPrice{
	              margin-left: 137px;
    margin-top: 2px;
    display: flex;
    color: #00ffff;
    font-family: monospace;
    font-size: 26px;
}
.AllPriceTextWon{      color: #00ffff;
    display: flex;
    margin-top: 2px;
    margin-left: 219px;
    text-align: center;
}
/* 얼마인지 쓰는곳 */
.wonText{
	text-align: center;
    margin-left: 191px;
    margin-top: 2px;
    display: flex;
    color: #00ffff;
    font-size: 26px;
    font-family: monospace;
}

/* 네개 대가리항목들 배열하기 */
.headerText{
	        display: flex;
    justify-content: space-around;
    margin-left: 158px;
    margin-top: 52px;
    width: 1600px;
	
}
/* 네개대가리들 */
.td_width_1{
    display: flex;
    margin-left: 181px;
    margin-top: 10px;
}
.td_width_2{
	display:flex;
	margin-left: 10px;
	margin-top: 10px;
}
.td_width_3{
	display:flex;
	margin-left: 10px;
	margin-top: 10px;
}
.td_width_4{
	display:flex;
	margin-left: 10px;
	margin-top: 10px;
}


/* 상품명 */
.neon_effect th:nth-child(1){
  color: #fff;
   font-family: Comfortaa;
 
 animation: neon6 1.5s ease-in-out infinite alternate; 
}
/* 상품가격 */
.neon_effect th:nth-child(2){
  color: #fff;
  font-family: Lobster;
   animation: neon8 1.5s ease-in-out infinite alternate; 

}
/* 상품수량 */
.neon_effect th:nth-child(3){
  color: #fff;
  font-family: Abril Fatface;
 animation: neon7 1.5s ease-in-out infinite alternate; 
}
/* 상품삭제 */
.neon_effect th:nth-child(4){
  color: #fff;
  font-family: Comfortaa;
  font-weight: 700;
 animation: neon3 1.5s ease-in-out infinite alternate; 
}





.searchInput{
	    margin-left: 645px;
    width: 600px;
    height: 30px;
    background-color: transparent;
    border-color: #00ffff;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #00ffff;
    padding-left: 30px;
    font-size: 18px;
}

.header{
    justify-content:space-around;
    width: 100%;
    margin-top:10px;
    display: flex;
   color: white;

 
}
.Logo{
   text-decoration:none;
   color:white;
}
h1{
   margin-left:30px;
   margin-top:17px;
   margin-bottom:0;
    text-align: center;
    color: white;
}

.a1{
   align-items: center;
    text-align: center;
  
    position: relative;
    display: inline-block;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 29px;
    text-align: center;
    margin: 0px ;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;

    
   
   
}

.a1:hover{
   align-items: center;
    text-align: center;
  
    position: relative;
    display: inline-block;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 29px;
    text-align: center;
    margin: 0px ;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background: #03e9f4;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;

}


/*.a1은 메뉴버튼들 장식*/
.a1 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.a1 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.a1 span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.a1 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


/*로그인버튼 장식*/



.frame-btn {
 margin-right: 10px;
  line-height: 35px;
  display: inline-block;
  padding: 25px 30px;
  font-size: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  position: relative;
}
.frame-btn__text {
  color: #00ffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 300ms ease;
  position: relative;
}
.frame-btn:hover .frame-btn__text {
  color: white;
}
.frame-btn__solid {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: #00ffff;
  width: calc(100% - (5px * 4));
  height: calc(100% - (5px * 4));
  transform-origin: 50%;
  transform: scale(0.85);
  opacity: 0;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.frame-btn:hover .frame-btn__solid {
  opacity: 1;
  transform: scale(1);
}
.frame-btn__outline {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-btn__outline--tall {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
  height: 100%;
}
.frame-btn__outline--flat {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
  width: 100%;
}
.frame-btn__line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-btn__line--tall:before, .frame-btn__line--tall:after {
  height: 100%;
  width: 1px;
  top: 0;
 
}
.frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--tall:after {
  transform: scaleY(0);
}
.frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--tall:after {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
}
.frame-btn__line--tall:before {
  left: 0;
}
.frame-btn__line--tall:after {
  right: 0;
}
.frame-btn__line--flat:before, .frame-btn__line--flat:after {
  width: 100%;
  height: 1px;
  left: 0;
}
.frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--tall .frame-btn__line--flat:after {
  transform: scaleX(0);
}
.frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:before, .frame-btn:hover .frame-btn__outline--flat .frame-btn__line--flat:after {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
}
.frame-btn__line--flat:before {
  top: 0;
}
.frame-btn__line--flat:after {
  bottom: 0;
}
.frame-btn__line:before, .frame-btn__line:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #00ffff;
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.frame-btn:hover .frame-btn__line:before, .frame-btn:hover .frame-btn__line:after {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*끝*/










/*무지개버튼*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
:root {
  --primary: red;
  --secondary: blue;
  --s-1:  #005eff ;
  --s-2:   #00a1ff ;
  --s-3:  #00c0ff;
  --s-4: #00ffff;

  /* 저기빈칸은 컬러들어가는곳 */
}


/* 로그인버튼 크기조작은 back으로 */
.back {

	width: 430px;
	height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  font-size: 2em;
  background: linear-gradient(123deg, black 0%, #042D64) no-repeat top left/150%;
}






.btn {

	padding-top:0px;
	font-family:sans-serif;
	width: 100px;
	margin-top:20px;
	height: 38px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  background: url(https://api.thumbr.io/whitenoise-361x370.png?background=00000000&noise=000000f&density=50&opacity=40) repeat top left/1.25em, url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png) no-repeat center/100%;
  /* font-family: "Space Mono", monospace; */
  font-weight: bold;
  text-align: center;
  color: black;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 0.025em currentColor;
  text-shadow: 0.05em 0.075em 0.075em rgba(255, 255, 255, 0.8), 0.05em 0.075em 1em rgba(255, 255, 255, 0.5), -0.04em -0.04em 0.05em rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.1em 0.1em 0.075em rgba(255, 255, 255, 0.666), inset -0.1em -0.1em 0.2em rgba(0, 0, 0, 0.25), inset 0 0 0.4em rgba(255, 255, 255, 0.25);
  transition: 0.5s;
  will-change: filter;
}



.btn:before {
	   text-decoration:none;
  content: "";
  z-index: -1;
  mix-blend-mode: color;
  transition: 0.5s;
  position: absolute;
}

.btn:after {
	   text-decoration:none;
  content: "";
  position: absolute;
  top: -100%;
  bottom: -100%;
  width: 200%;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), transparent 20%, transparent 30%, white, rgba(255, 255, 255, 0.75), transparent 70%, transparent, white, rgba(255, 255, 255, 0.75), transparent);
  mix-blend-mode: overlay;
  opacity: 0.9;
  transform: translate3d(-50%, 0, 0);
  transition: 0.4s;
}
.btn:hover:after, .btn:focus:after {

  transform: translate3d(0%, 0, 0) scale3d(1.5, 1.2, 1);
}




.btn--plain {
  background: white;
  -webkit-text-stroke: initial;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}
.btn--plain:hover, .btn--plain:focus {
  background: #cccccc;
}
.btn--plain:before, .btn--plain:after {
  content: none;
}

.btn--1:before{
  top: -50%;
  left: -5%;
  height: 300%;
  width: 200%;
  background: radial-gradient(6% 10% at 77% 20%, var(--s-1) 5%, var(--s-2) 60%, var(--s-2) 65%, var(--s-3) 80%, var(--s-3) 70%, transparent 95%), radial-gradient(25% 69% at 40% 10%, var(--s-1) 40%, var(--s-2) 60%, var(--s-2) 65%, var(--s-3) 80%, var(--s-3) 90%, transparent), radial-gradient(20% 55% at -2% 10%, var(--s-1) 50%, var(--s-2) 70%, var(--s-3) 85%, transparent), radial-gradient(12% 19% at 31% 98%, var(--s-1) 30%, var(--s-2) 60%, var(--s-2) 65%, var(--s-3) 80%, var(--s-3) 0%, transparent), radial-gradient(18% 19% at 0 94%, var(--s-1), var(--s-2) 60%, var(--s-2) 55%, var(--s-3) 70%, var(--s-3) 75%, var(--s-4), transparent), radial-gradient(30% 43% at 73% 83%, var(--s-1) 55%, var(--s-2) 70%, var(--s-2) 65%, var(--s-3), transparent), radial-gradient(40% 50% at 20% 20%, var(--s-3) 20%, var(--s-4), transparent), radial-gradient(40% 65% at 40% 25%, var(--s-3) 50%, var(--s-4), var(--s-1) 80%, transparent 100%), radial-gradient(70% 70% at 110% 85%, var(--s-3), var(--s-4) 90%, transparent), radial-gradient(30% 23% at 5% 65%, var(--s-4), var(--s-1) 40%, var(--s-1) 40%, var(--s-4) 65%, var(--s-4) 70%, var(--s-1), transparent), radial-gradient(100% 100% at 70% 20%, var(--s-3), var(--s-4));
  background-size: 200% 200%;
  background-position: 0% 50%;
}
.btn--1:hover:before, .btn--1:focus:before {
  background-position: 100% 0%;
}

.btn--1:before {
  filter: url("data:image/svg+xml;utf8,\a<svg xmlns='http://www.w3.org/2000/svg' version='1.1'>\a<defs>\a<filter id='filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'>\a<feTurbulence type='turbulence' baseFrequency='0.04 0.03' numOctaves='12' seed='27' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'/>\a<feDisplacementMap in='SourceGraphic' in2='turbulence' scale='15' xChannelSelector='R' yChannelSelector='B' x='0%' y='0%' width='100%' height='100%' result='displacementMap2'/></filter>\a</defs>\a</svg>\a#filter\a") contrast(1.3);
} 










.neon_effect .p1:first-child{
  color: #fff;
  font-family: Abril Fatface;
  animation: neon7 1.5s ease-in-out infinite alternate;
}
.neon_effect .pGold:first-child{
  color: #fff;
  animation: neon3 1.5s ease-in-out infinite alternate;
}
.neon_effect .exitBtn:first-child{
  color: #fff;
 font-family: 'Song Myung', serif;
  font-weight: bold;
  font-size:2em;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
@keyframes neon3 {
   from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@keyframes neon7 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red;
  }
}

@keyframes neon8{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px aqua, 0 0 70px aqua, 0 0 80px aqua, 0 0 100px aqua, 0 0 150px aqua;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px aqua, 0 0 35px aqua, 0 0 40px aqua, 0 0 50px aqua, 0 0 75px aqua;
  }
}
/* @keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
@keyframes neon3 {
   from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
} */








